[submodule "luau"]
	path = luau
	url = https://github.com/TerameTechYT/luau-extended.git
[submodule "extern/sentry-native"]
	path = extern/sentry-native
	url = https://github.com/getsentry/sentry-native.git
